.Sidebar {
  box-sizing: border-box;
  position: absolute;
  width: 75%;
  height: 180%;
  background-color: #2b6d12;
  z-index: 300;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  border-top: 0;
}

.closed {
  left: -10000px;
}

@media (min-width: 1024px) {
  .Sidebar {
    width: 15%;
    z-index: 1;
  }
}
