.Sidebar {
  position: absolute;
  width: 75%;
  height: 90vh;
  background-color: #2b6d12;
  z-index: 300;
  border: 1px solid #144900;
  border-top: 0;
}

.closed {
  left: -10000px;
}

@media (min-width: 1024px) {
  .Sidebar {
    width: 15%;
    z-index: 1;
  }
}
