.SubHeader {
  position: relative;
  width: 75%;
  margin-left: 25%;
  box-sizing: border-box;
  background-color: #2b6d12;
  height: 40px;
  z-index: 2;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-top: -10px;
}

.DropDownLinks {
  width: 50%;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

@media (min-width: 1024px) {
  .SubHeader {
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  }
}
@media (max-width: 1402px) {
  .SubHeader {
    width: 81.2%;
    margin-left: 18.8%;
  }
}
@media (min-width: 1402px) {
  .SubHeader {
    width: 75%;
  }
}
