* {
  text-decoration: none;
}

.Logo {
  position: relative;
  font-size: 2.4rem;
  top: 1px;
  margin: 0;
}

.Logo p {
  margin: 10% 0 0 0;
  font-weight: bolder;
  color: #a5da91;
  opacity: 1;
  text-shadow: 2px 2px 2px black;
}

@media (min-width: 1024px) {
  .Logo {
    font-size: 3.5rem;
    margin: -25px 0 0 0;
  }
}
