.FormInput {
  width: 90%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: auto;
}

.FormInput label,
.FormInput input {
  text-align: center;
  height: 30px;
  font-size: 1.4rem;
}

.FormInput label {
  margin-bottom: 5px;
}
