.Navigation {
  display: flex;
  flex-flow: row;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  text-decoration: none;
}

.LargeTopMenu {
  display: flex;
  flex-flow: row;
  width: 100%;
  font-size: 2rem;
  justify-content: flex-start;
  margin-left: 8%;
}

.LargeTopMenu p {
  color: white;
}
