.NavigationItem {
  text-align: start;
  margin-left: 0%;
  font-size: 1.5rem;
}

.NavigationItem a {
  text-decoration: none;
  color: black;
}

.NavigationItem ul {
  padding: 5px;
}

.NavigationItem ul li {
  color: red;
  list-style: none;
  margin-left: 3%;
}
