.NavigationItem {
  text-align: start;
  margin-left: 0%;
  font-size: 1.5rem;
}

.NavigationItem a {
  text-decoration: none;
  color: #73b55b;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.NavigationItem ul {
  padding: 5px;
}

.NavigationItem ul li {
  color: red;
  list-style: none;
  margin-left: 3%;
}
