.Layout {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-flow: row;
  background-color: #144900;
}

@media (min-width: 1024px) {
  .Layout {
    max-width: 80%;
    min-width: 80%;
    margin: auto;
  }
}
@media (min-width: 1402px) {
  .Layout {
    max-width: 60%;
    min-width: 60%;
    margin: auto;
  }
}
